# Challenge

Another approach to identifying fraudulent transactions is to look for outliers in the data. Standard deviation or quartiles are often used to detect outliers. Using this starter notebook, code two Python functions:

* One that uses standard deviation to identify anomalies for any cardholder.

* Another that uses interquartile range to identify anomalies for any cardholder.

## Identifying Outliers using Standard Deviation

In [23]:
# Initial imports
import pandas as pd
import numpy as np
import random
from sqlalchemy import create_engine
from dotenv import load_dotenv
import os

In [24]:
# Insert your username and password for postgresql in my_credentials.env files
load_dotenv('my_credentials.env')

True

In [25]:
# Set username, password and host
username = os.getenv("USERNAME")
password = os.getenv("PASSWORD")
host = os.getenv("HOST")

In [26]:
# Create a connection to the database and insert username, password, and host
engine = create_engine(f"postgresql://{username}:{password}@localhost:{host}/fraud_detection")

In [27]:
# Create a connection to the database
engine = create_engine("postgresql://postgres:postgres@localhost:5432/fraud_detection")

query = "SELECT t.amount, c.cardholder_id FROM transaction AS t JOIN credit_card as c ON t.card = c.card"

transaction_df= pd.read_sql(query, engine)
transaction_df.head()

   amount  cardholder_id
0       6             13
1       4             13
2      10             10
3      19              4
4       3             18

In [28]:
# Retrieve values from amount 
data_df=transaction_df["amount"]
data_df

0        6
1        4
2       10
3       19
4        3
        ..
3495     5
3496     3
3497    11
3498    12
3499    20
Name: amount, Length: 3500, dtype: int64

In [29]:
# Identify the data set's outliers using STD

# Create a Function
def outliers_std(df):
    
    # Calculate mean, std
    mean = np.mean(df)
    std = np.std(df)
    
    # Calculate cut off to identify outliers, I used 2.5std and the lower and upper limits
    cutoff = std * 2.5
    lower = mean - cutoff
    upper = mean + cutoff
    
    # Identify outliers
    outliers =[]
    for each_value in df:
        if each_value < lower or each_value > upper:
            outliers.append(each_value)
            
    return(outliers)

# Used this link provided for help https://machinelearningmastery.com/how-to-use-statistics-to-identify-outliers-in-data/

In [30]:
# Print Outliers using data_df 
print(f"{outliers_std(data_df)}")

[1031, 1685, 1029, 1131, 1678, 1691, 1177, 1430, 1072, 1839, 1145, 1119, 1534, 1617, 1334, 1530, 852, 1011, 1009, 1077, 1063, 1086, 2108, 1901, 1046, 1203, 1814, 1162, 749, 1795, 691, 1103, 1102, 1813, 1592, 1108, 1398, 1159, 1160, 974, 1108, 1803, 1302, 1379, 1449, 1001, 2001, 1790, 1017, 1056, 626, 1176, 1856, 1075, 1095, 1060, 757, 1179, 1053, 1911, 1769, 1054, 1123, 1802, 1279, 1660, 1014, 1894, 1154, 2249, 748, 1074, 1296, 1724, 1301, 1634, 1035, 1033]

In [31]:
# Calculate mean, std, cutoff, lower and upper for loop 
mean = np.mean(data_df)
std = np.std(data_df)
cutoff = std * 2.5
lower = mean - cutoff
upper = mean + cutoff

# Create a loop to find outliers with the lower and upper limit use ".iterrows" and append cardholders to a list:
# Create an empty list
cardolher_outliers=[]
for index, row in transaction_df.iterrows():
    if row["amount"] > upper or row["amount"] < lower:
        cardolher_outliers.append(row["cardholder_id"])

# Create a loop to insert unique cardholders to a list:
# Create an empty list
unique_cardolher_outliers=[]
for each_value in cardolher_outliers:
    if each_value not in unique_cardolher_outliers:
        unique_cardolher_outliers.append(each_value)

print(f"The cardholders with anomalous transactions are {unique_cardolher_outliers}")     

# Used this link for iteration (method ".iterrows") https://www.geeksforgeeks.org/different-ways-to-iterate-over-rows-in-pandas-dataframe/

The cardholders with anomalous transactions are [12, 7, 6, 16, 1, 25, 18, 3, 9, 24]

In [32]:
# Find anomalous transactions for 3 random card holders (I picked cardholders with outliers)
# Use loc to find the transactions of a specific cardholder and filter the amount column
cardholder_12= transaction_df.loc[transaction_df["cardholder_id"]==12]
cardholder_12= cardholder_12["amount"]
# Print result
print(f"The anomalous transactions for cardholder 12:{outliers_std(cardholder_12)}")

cardholder_18= transaction_df.loc[transaction_df["cardholder_id"]==18]
cardholder_18= cardholder_18["amount"]
print(f"The anomalous transactions for cardholder 18:{outliers_std(cardholder_18)}")

cardholder_24= transaction_df.loc[transaction_df["cardholder_id"]==24]
cardholder_24= cardholder_24["amount"]
print(f"The anomalous transactions for cardholder 24:{outliers_std(cardholder_24)}")

The anomalous transactions for cardholder 12:[1031, 1678, 1530, 852, 1102, 1592, 1108, 1075, 1123, 1802]
The anomalous transactions for cardholder 18:[1839, 1077, 1814, 974, 1176, 1769, 1154]
The anomalous transactions for cardholder 24:[1011, 1901, 1301, 1035]

## Identifying Outliers Using Interquartile Range

In [33]:
# Write a function that locates outliers using interquartile range
# Create a Function
def outliers_interquartile_range(df):
    
    # Calculate interquartile range
    q25 = np.percentile(df,25)
    q75 = np.percentile(df,75)
    iqr= q75 - q25
    
    # Calculate cut off to identify outliers, the lower and upper limits
    cutoff = iqr * 1.5
    lower = q25 - cutoff
    upper = q75 + cutoff
    
    # Identify outliers
    outliers =[]
    for each_value in df:
        if each_value < lower or each_value > upper:
            outliers.append(each_value)
            
    return(outliers)

In [34]:
print(f"{outliers_interquartile_range(data_df)}")

[1031, 1685, 175, 1029, 333, 229, 1131, 1678, 1691, 1177, 445, 1430, 1072, 1839, 1145, 1119, 1534, 1617, 1334, 389, 1530, 852, 1011, 1009, 100, 1077, 1063, 283, 269, 543, 325, 1086, 525, 2108, 1901, 1046, 160, 1203, 245, 1814, 1162, 749, 1795, 691, 1103, 258, 1102, 1813, 1592, 1108, 121, 1398, 89, 117, 1159, 267, 1160, 233, 974, 291, 1108, 1803, 1302, 1379, 1449, 1001, 188, 2001, 458, 1790, 1017, 1056, 626, 1176, 1856, 1075, 1095, 1060, 757, 1179, 206, 484, 1053, 178, 393, 137, 466, 1911, 1769, 1054, 233, 1123, 267, 1802, 1279, 1660, 1014, 57, 1894, 1154, 2249, 748, 1074, 1296, 1724, 1301, 1634, 1035, 313, 1033]

In [35]:
# Find anomalous transactions for 3 random card holders
# Use loc to find the transactions of a specific cardholder and filter the amount column
cardholder_12= transaction_df.loc[transaction_df["cardholder_id"]==12]
cardholder_12= cardholder_12["amount"]
# Print result
print(f"The anomalous transactions for cardholder 12:{outliers_interquartile_range(cardholder_12)}")

cardholder_18= transaction_df.loc[transaction_df["cardholder_id"]==18]
cardholder_18= cardholder_18["amount"]
print(f"The anomalous transactions for cardholder 18:{outliers_interquartile_range(cardholder_18)}")

cardholder_24= transaction_df.loc[transaction_df["cardholder_id"]==24]
cardholder_24= cardholder_24["amount"]
print(f"The anomalous transactions for cardholder 24:{outliers_interquartile_range(cardholder_24)}")

The anomalous transactions for cardholder 12:[1031, 1678, 1530, 852, 1102, 1592, 1108, 1075, 233, 1123, 1802, 748]
The anomalous transactions for cardholder 18:[175, 333, 1839, 1077, 1814, 121, 117, 974, 458, 1176, 1769, 1154]
The anomalous transactions for cardholder 24:[1011, 525, 1901, 258, 291, 466, 1301, 1035]